#holamarikong{
    font-size: 16;
    font-family: sans-serif;
    font-style: italic;
    font-weight: lighter;
}

#parrafo_uno{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}
